.header{
    background-color: white;
    opacity: 0.95;
}
#menu-mobile{
    background-color: white;
    opacity: 0.95;
}
.border-grey-top{
    border-top:1px solid #ebeceb;
}
.border-grey-bottom{
    border-bottom:1px solid #ebeceb;
}
.border-grey2-top{
    border-top:1px solid #4c4c4c;
}
.border-grey2-bottom{
    border-bottom:1px solid #4c4c4c;
}
.border-white{
    border:2px solid #fff;
}
.border-left-teal{border-left: 1px solid #A7C5BD;}
.bg-white{background:white;}
.bg-label{
    background-color: #333;
    opacity: 0.9;
}
.bg-label-2{
    background-color: #333;
    opacity: 0.7;
}
.bg-gray{background-color: #ccc;}
.bg-dark-gray{background-color: #454548;}
.bg-gray{background-color: #ccc;}
.bg-gray2{background-color: #454548;}
.title-line-grey{
    border-bottom:1px solid #454548;
    position:relative;
    top:-20px;
    z-index: -999;
}
.title-line-grey2{
    border-bottom:1px solid #e6e6e6;
    position:relative;
    top:-20px;
    z-index: -999;
}
.bg-teal{background-color: #008080;}
.title-line-teal{
    border-bottom:1px solid #008080;
    position:relative;
    top:-20px;
    z-index: -999;
}
.title-line-teal2{
    border-bottom:1px solid #008080;
    position:relative;
    top:-40px;
    z-index: -999;
}
