.hide{display: none;}
.inline{display: inline;}
.block{display: block;}
.l{float:left;}
.r{float:right;}
.auto{margin-left:auto;margin-right:auto;}
.clearfix{clear: both;}
.overflow-hidden{overflow: hidden;}
.clip{text-overflow: clip;}
.ellipsis{text-overflow: ellipsis;}

.w5{width: 5px;}
.w10{width: 10px;}
.w20{width: 20px;}
.w30{width: 30px;}
.w40{width: 40px;}
.w50{width: 50px;}
.w60{width: 60px;}
.w70{width: 70px;}
.w80{width: 80px;}
.w80{width: 80px;}
.w90{width: 90px;}
.w100{width:100px;}
.w120{width:120px;}
.w122{width:122px;}
.w130{width:130px;}
.w140{width:140px;}
.w150{width:150px;}
.w160{width:160px;}
.w170{width:170px;}
.w180{width:180px;}
.w190{width:190px;}
.w200{width:200px;}
.w220{width:220px;}
.w250{width:250px;}
.w280{width:280px;}
.w288{width:288px;}
.w320{width:320px;}

.w5r{width:5%;}
.w10r{width:10%;}
.w15r{width:15%;}
.w20r{width:20%;}
.w25r{width:25%;}
.w28r{width:28%;}
.w30r{width:30%;}
.w33r{width:33.333%;}
.w35r{width:35%;}
.w50r{width:50%;}
.w60r{width:60%;}
.w65r{width:65%;}
.w70r{width:70%;}
.w75r{width:75%;}
.w80r{width:80%;}
.w85r{width:85%;}
.w87r{width:87%;}
.w90r{width:90%;}
.w93r{width:93%;}
.w95r{width:95%;}
.w100r{width:100%;}

.h5{height:5px;}
.h10{height:10px;}
.h20{height:20px;}
.h25{height:25px;}
.h30{height:30px;}
.h32{height:32px;}
.h35{height:35px;}
.h40{height:40px;}
.h50{height:50px;}
.h60{height:60px;}
.h70{height:70px;}
.h80{height:80px;}
.h90{height:90px;}
.h100{height:100px;}
.h110{height:110px;}
.h120{height:120px;}
.h130{height:130px;}
.h140{height:140px;}
.h150{height:150px;}
.h160{height:160px;}
.h170{height:170px;}
.h180{height:180px;}
.h190{height:190px;}
.h200{height:200px;}
.h240{height:240px;}
.h230{height:230px;}
.h250{height:250px;}
.h280{height:280px;}
.h300{height:300px;}
.h320{height:320px;}
.h330{height:330px;}
.h350{height:350px;}
.h400{height:400px;}
.h450{height:450px;}
.h480{height:480px;}
.h427{height:427px;}
.h500{height:500px;}
.h578{height:578px;}
.h676{height:676px;}

.h10r{height:10%;}

.mt0{margin-top:0px;}
.mt5{margin-top:5px;}
.mb5{margin-bottom:5px;}
.mt10{margin-top:10px;}
.mb10{margin-bottom:10px;}
.mt15{margin-top:15px;}
.mb15{margin-bottom:15px;}
.mt20{margin-top:20px;}
.mb20{margin-bottom:20px;}
.mt25{margin-top:25px;}
.mb25{margin-bottom:25px;}
.mt30{margin-top:30px;}
.mb30{margin-bottom:30px;}
.mt33{margin-top:33px;}
.mb33{margin-bottom:33px;}
.mt35{margin-top:35px;}
.mb35{margin-bottom:35px;}
.mt40{margin-top:40px;}
.mb40{margin-bottom:40px;}
.mt50{margin-top:50px;}
.mb50{margin-bottom:50px;}
.mt60{margin-top:60px;}
.mb60{margin-bottom:60px;}
.mt70{margin-top:70px;}
.mb70{margin-bottom:70px;}
.mt80{margin-top:80px;}
.mb80{margin-bottom:80px;}
.mt90{margin-top:90px;}
.mb90{margin-bottom:90px;}
.mt100{margin-top:100px;}
.mb100{margin-bottom:100px;}
.mt130{margin-top:130px;}
.mb130{margin-bottom:130px;}
.mt200{margin-top:200px;}
.mb200{margin-bottom:200px;}


.mt01r{margin-top:1%;}
.mb01r{margin-bottom:1%;}
.mt02r{margin-top:2%;}
.mb02r{margin-bottom:2%;}
.mt04r{margin-top:4%;}
.mb04r{margin-bottom:4%;}
.mt05r{margin-top:5%;}
.mb05r{margin-bottom:5%;}
.mt06r{margin-top:6%;}
.mb06r{margin-bottom:6%;}
.mt08r{margin-top:8%;}
.mb08r{margin-bottom:8%;}
.mt10r{margin-top:10%;}
.mb10r{margin-bottom:10%;}
.mt15r{margin-top:15%;}
.mb15r{margin-bottom:15%;}
.mt20r{margin-top:20%;}
.mb20r{margin-bottom:20%;}
.mt30r{margin-top:30%;}
.mb30r{margin-bottom:30%;}
.mt40r{margin-top:40%;}
.mb40r{margin-bottom:40%;}
.mt50r{margin-top:50%;}
.mb50r{margin-bottom:50%;}
.mt60r{margin-top:60%;}
.mb60r{margin-bottom:60%;}
.mt70r{margin-top:70%;}
.mb70r{margin-bottom:70%;}
.mt80r{margin-top:80%;}
.mb80r{margin-bottom:80%;}
.mt90r{margin-top:90%;}
.mb90r{margin-bottom:90%;}
.mt100r{margin-top:100%;}
.mb100r{margin-bottom:100%;}

.mt-15{margin-top: -15px;}
.mt-35{margin-top: -35px;}
.mt-50{margin-top:-50px;}
.mt-80{margin-top: -80px;}

.ml5{margin-left:5px;}
.mr5{margin-right:5px;}
.ml10{margin-left:10px;}
.mr10{margin-right:10px;}
.ml20{margin-left:20px;}
.mr20{margin-right:20px;}
.ml25{margin-left:25px;}
.mr25{margin-right:25px;}
.ml20{margin-left:20px;}
.ml30{margin-left:30px;}
.mr30{margin-right:30px;}
.ml40{margin-left:40px;}
.mr40{margin-right:40px;}
.ml50{margin-left:50px;}
.mr50{margin-right:50px;}
.ml60{margin-left:60px;}
.mr60{margin-right:60px;}
.ml70{margin-left:70px;}
.mr70{margin-right:70px;}
.ml80{margin-left:80px;}
.mr80{margin-right:80px;}
.ml90{margin-left:90px;}
.mr90{margin-right:90px;}
.ml100{margin-left:100px;}
.mr100{margin-right:100px;}
.ml120{margin-left:120px;}
.mr120{margin-right:120px;}
.ml140{margin-left:140px;}
.mr140{margin-right:140px;}
.ml150{margin-left:150px;}
.mr150{margin-right:150px;}
.ml160{margin-left:160px;}
.mr160{margin-right:160px;}
.ml175{margin-left:175px;}
.mr175{margin-right:175px;}

.ml025r{margin-left:2.5%;}
.mr025r{margin-right:2.5%;}
.ml005r{margin-left:0.5%;}
.mr005r{margin-right:0.5%;}
.ml01r{margin-left:1%;}
.mr01r{margin-right:1%;}
.ml02r{margin-left:2%;}
.mr02r{margin-right:2%;}
.ml03r{margin-left:3%;}
.mr03r{margin-right:3%;}
.ml05r{margin-left:5%;}
.mr05r{margin-right:5%;}
.ml07r{margin-left:7%;}
.mr07r{margin-right:7%;}
.ml10r{margin-left:10%;}
.mr10r{margin-right:10%;}
.ml12r{margin-left:12%;}
.mr12r{margin-right:12%;}
.ml20r{margin-left:20%;}
.mr20r{margin-right:20%;}
.ml25r{margin-left:25%;}
.mr25r{margin-right:25%;}
.ml30r{margin-left:30%;}
.mr30r{margin-right:30%;}
.ml35{margin-left:35px;}
.mr35{margin-right:35px;}
.ml40r{margin-left:40%;}
.mr40r{margin-right:40%;}
.ml50r{margin-left:50%;}
.mr50r{margin-right:50%;}
.ml60r{margin-left:60%;}
.mr60r{margin-right:60%;}
.ml70r{margin-left:70%;}
.mr70r{margin-right:70%;}
.ml80r{margin-left:80%;}
.mr80r{margin-right:80%;}
.ml90r{margin-left:90%;}
.mr90r{margin-right:90%;}
.ml100r{margin-left:100%;}
.mr100r{margin-right:100%;}

.pt0{padding-top:0px;}
.pt5{padding-top:5px;}
.pb5{padding-bottom:5px;}
.pt10{padding-top:10px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pb20{padding-bottom:20px;}
.pt25{padding-top:25px;}
.pb25{padding-bottom:25px;}
.pt30{padding-top:30px;}
.pb30{padding-bottom:30px;}
.pt35{padding-top:35px;}
.pt40{padding-top:40px;}
.pb40{padding-bottom:40px;}
.pt50{padding-top:50px;}
.pb50{padding-bottom:50px;}
.pt60{padding-top:60px;}
.pb60{padding-bottom:60px;}
.pt70{padding-top:70px;}
.pb70{padding-bottom:70px;}
.pt80{padding-top:80px;}
.pb80{padding-bottom:80px;}
.pt90{padding-top:90px;}
.pb90{padding-bottom:90px;}
.pt100{padding-top:100px;}
.pb100{padding-bottom:100px;}
.pt150{padding-top:150px;}
.pt200{padding-top:200px;}
.pb200{padding-bottom:200px;}

.pl05{padding-left: 5px;}
.pr05{padding-right: 5px;}
.pl10{padding-left: 10px;}
.pr10{padding-right: 10px;}
.pl15{padding-left: 15px;}
.pr15{padding-right: 15px;}
.pl20{padding-left: 20px;}
.pr20{padding-right: 20px;}
.pl30{padding-left: 30px;}
.pr30{padding-right: 30px;}
.pl40{padding-left: 40px;}
.pr40{padding-right: 40px;}
.pl50{padding-left: 50px;}
.pr50{padding-right: 50px;}
.pl60{padding-left: 60px;}
.pr60{padding-right: 60px;}
.pl70{padding-left: 70px;}
.pr70{padding-right: 70px;}
.pl80{padding-left: 80px;}
.pr80{padding-right: 80px;}
.pl90{padding-left: 90px;}
.pr90{padding-right: 90px;}
.pl100{padding-left: 100px;}
.pr100{padding-right: 100px;}

.pt01r{padding-top:1%;}
.pb01r{padding-bottom: 1%;}
.pt02r{padding-top:2%;}
.pb02r{padding-bottom: 2%;}
.pt03r{padding-top: 3%}
.pb03r{padding-bottom: 3%}
.pt04r{padding-top:4%;}
.pb04r{padding-bottom: 4%;}
.pt05r{padding-top: 5%}
.pb05r{padding-bottom: 5%}
.pt06r{padding-top:6%;}
.pb06r{padding-bottom: 6%;}
.pt07r{padding-top:7%;}
.pb07r{padding-bottom: 7%;}
.pt08r{padding-top:8%;}
.pb08r{padding-bottom: 8%;}
.pt10r{padding-top:10%;}
.pb10r{padding-bottom: 10%;}
.pt15r{padding-top:15%;}
.pb15r{padding-bottom: 15%;}
.pt40r{padding-top: 40%}
.pb40r{padding-bottom: 40%}
.pt50r{padding-top: 50%}
.pb50r{padding-bottom: 50%}
.pt60r{padding-top: 60%}
.pb60r{padding-bottom: 60%}

.pl02r{padding-left:2%;}
.pr02r{padding-right: 2%;}
.pl04r{padding-left:4%;}
.pr04r{padding-right: 4%;}
.pl05r{padding-left:5%;}
.pr05r{padding-right: 5%;}
.pl06r{padding-left:6%;}
.pr06r{padding-right: 6%;}
.pl08r{padding-left:8%;}
.pr08r{padding-right: 8%;}
.pl10r{padding-left:10%;}
.pr10r{padding-right: 10%;}
.pl12r{padding-left:12%;}
.pr12r{padding-right: 12%;}
.pl16r{padding-left:16%;}
.pr16r{padding-right: 16%;}
.pl20r{padding-left:20%;}
.pr20r{padding-right: 20%;}

.social-offset{width:60%;}
.title-block-offset-2{
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
}
#headblock h2{line-height: 30px;padding-bottom: 5%;}
    .shpakov-desktop{display: block;}
    .shpakov-moblile{display: none;}
.portfolio-menu .button .h{height: 90px;}
.portfolio-menu .column-2 .button .h{height: 65px;}
#lighthouse{
    margin-top: 4%;
    margin-bottom: 1%;
}
.FOOTER-ARROW{
    margin-top: 2%;
    margin-bottom: ;
}
.line-offset{
    margin-left: 5%;
    margin-right: 5%;
}
@media screen and (min-width: 1200px) {
    .column-2.content-margin{
        margin-top:-35px;
    }
    .column-3.content-margin{
        margin-top:-35px;
    }
    .column-2.content-margin-index{
        margin-top:-35px;
    }
    .column-3.content-margin-index{
        margin-top:-35px;
    }
}
@media screen and (max-width: 1200px) {
    .column-2.content-margin{
        margin-top:-35px;
    }
    .column-3.content-margin:first-child{
        margin-top:-35px;
    }
    .column-3.content-margin{
        margin-top:0;
    }    
    .column-2.content-margin-index{
        margin-top:-35px;
    }
    .column-3.content-margin-index:first-child{
        margin-top:-35px;
    }
    .column-3.content-margin-index{
        margin-top:0;
    }
    .social-offset{width:100%;}
    #documents .w33r{width:50%;}
    #team .w33r{width:50%;}
    .portfolio-menu .column-3 .button .h{height: 75px;}
    .portfolio-menu .column-2 .button .h div{
        margin-top: 25px;
        margin-left: 0%;
        margin-right: 0%;
    }
    .portfolio-menu .column-3 .button .h div{
        margin-top: 25px;
        margin-left: 0%;
        margin-right: 0%;
    }
    .portfolio-menu .column-4 .button .h div{
        margin-top: 25px;
        margin-left: 0%;
        margin-right: 0%;
    }
}
@media screen and (max-width: 768px) {
    /*
    #content .pt05r:first-child{padding-top: 0;}
    .pt05r{padding-top: 50px;}
    .pt04r{padding-top: 40px;}
    .pt03r{padding-top: 30px;}
    .pt02r{padding-top: 20px;}
    .pt01r{padding-top: 10px;}
    .pb05r{padding-bottom: 50px;}
    .pb04r{padding-bottom: 40px;}
    .pb03r{padding-bottom: 30px;}
    .pb02r{padding-bottom: 20px;}
    .pb01r{padding-bottom: 10px;}
    */
    .block-offset{
        padding-top:40px; 
    }
    .block-offset-2{
        padding-top:20px; 
    }

    .line-offset{
        margin-left: 0;
        margin-right: 0;
    }
    #lighthouse{
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .FOOTER-ARROW{
        margin-top: 20px;
        margin-bottom: 20px; 
    }
    .address{
        padding-left: 0;
        padding-right: 0;
    }
    .img-text{
        line-height: 22px;
    }
    .img-text-2{
        margin-top: 0;
        line-height: 16px;
    }
    .title-block-offset-2{
        padding-top: 6%;
        padding-bottom: 3%;
    }
    .column-2.content-margin:first-child{
        margin-top:-35px;
        margin-bottom:35px;
    }
    .column-2.content-margin .pt50:first-child{
        padding-top: 15px;
    }
    .column-2.content-margin{
        margin-top:35px;
    }
    .column-3.content-margin:first-child{
        margin-top:-35px;
    }
    .column-3.content-margin{
        margin-top:0;
    }
    .column-2.content-margin-index:first-child{
        margin-top:-35px;
    }
    .column-2.content-margin-index{
        margin-top:0;
    }
    .column-3.content-margin-index:first-child{
        margin-top:-35px;
    }
    .column-3.content-margin-index{
        margin-top:0;
    }
    .text-alert.text-offset{
        width:100%;
    }
    #consulting-management .w33r{width:100%;}
    #departments .w33r{width:100%;}
    #team .w33r{width:100%;}
    #documents .w33r{width:100%;}
    #news-list .pl05r{padding-left: 0;}
    #news-list .pr05r{padding-right: 0;}
    .shpakov-desktop{display: none;}
    .shpakov-moblile{display: block;}
    .portfolio-menu .column-4 .button .h{height: 75px;}
    #search-result .ml05r{margin-left: 0;}
    #search-result .mr05r{margin-right: 0;}
}

@media screen and (max-width: 480px) {
    .title-block-offset-2{
        padding-top: 6%;
        padding-bottom: 3%;
    }
    .column-2.content-margin:first-child{
        margin-top:-35px;
    }
    .column-2.content-margin{
         margin-top:-35px;
    }
    .column-2.content-margin:first-child .bg-white{
        background-color: white;
    }
    .column-2.content-margin .bg-white{
        background-color: transparent;
    }
    .column-3.content-margin:first-child{
        margin-top:-35px;
    }
    .column-3.content-margin{
        margin-top:0;
    }
    .column-2.content-margin-index:first-child{
        margin-top:-35px;
    }
    .column-2.content-margin-index{
         margin-top:-35px;
    }
    .column-2.content-margin-index:first-child .bg-white{
        background-color: white;
    }
    .column-2.content-margin-index .bg-white{
        background-color: transparent;
    }
    .column-3.content-margin-index:first-child{
        margin-top:-35px;
    }
    .column-3.content-margin-index{
        margin-top:0;
    }
    .text-alert.text-offset{
        width:100%;
    }
    .text-alert.text-offset p{
        margin-left: 0;
    }
    #headblock h2{line-height: 32px;padding-top: 10%;padding-bottom: 10%;}
    #gallery .bg-label-2{width:60%;}
    #bond-option-portfolio .w33r{width:100%;}
    #deposit-weighted-average-portfolio .w33r{width:100%;}
    #consulting-management .w33r{width:100%;}
    #hedging-the-risk-of-ruble .w33r{width:100%;}
    #high-yield-strategy .w33r{width:100%;}
    #high-yielding-currency-portfolio .w33r{width:100%;}
    #high-yielding-portfolio .w33r{width:100%;}
    #index-portfolio .w33r{width:100%;}
    #index-portfolio-2 .w33r{width:100%;}
    #ipo-portfolio .w33r{width:100%;}
    #structured-bond-portfolio .w33r{width:100%;}
    #weighted-average-portfolio .w33r{width:100%;}
    #weighted-average-strategy .w33r{width:100%;}
    #weighted-currency-portfolio .w33r{width:100%;}
    #bond-repo-portfolio .w33r{width:100%;}
    #departments .w33r{width:100%;}
    #graph-option-1 .h400{height:320px;}
    #graph-deposit-1 .h400{height:250px;}
    #img-hedging-the-risk-of-ruble-2 .h400{height:250px;}
    #img-high-yielding-currency-portfolio-2 .h400{height:250px;}
    #img-high-yielding-portfolio-2 .h400{height:250px;}
    #img-weighted-average-portfolio-2 .h400{height:250px;}
    #img-weighted-currency-portfolio-2 .h400{height:200px;}
    #img-bond-repo-portfolio-2 .h450{height:250px;}
    #img-ipo-portfolio-3 .h400{height:250px;}
    #img-conservative-portfolio-3 {height:320px;}
    .conservative-strategy.text-alert{width:100%;}
}

@media screen and (max-width: 375px) {
    .title-block-offset-2{
        padding-top: 6%;
        padding-bottom: 3%;
    }
    .column-2.content-margin{
        margin-top:0;
    }
    .column-2.content-margin:first-child{
        margin-top:-35px;
    }
    .column-2.content-margin{
        margin-top:-35px;
    }
    .column-2.content-margin:first-child .bg-white{
        background-color: white;
    }
    .column-2.content-margin .bg-white{
        background-color: transparent;
    }
    .column-3.content-margin:first-child{
        margin-top:-35px;
    }
    .column-3.content-margin{
        margin-top:0;
    }
    .column-2.content-margin-index{
        margin-top:0;
    }
    .column-2.content-margin-index:first-child{
        margin-top:-35px;
    }
    .column-2.content-margin-index{
        margin-top:-35px;
    }
    .column-2.content-margin-index:first-child .bg-white{
        background-color: white;
    }
    .column-2.content-margin-index .bg-white{
        background-color: transparent;
    }
    .column-3.content-margin-index:first-child{
        margin-top:-35px;
    }
    .column-3.content-margin-index{
        margin-top:0;
    }
    #licenses img{width: 100%;}
    #bond-option-portfolio .w33r{width:100%;}
    #deposit-weighted-average-portfolio .w33r{width:100%;}
    #consulting-management .w33r{width:100%;}
    #departments .w33r{width:100%;}
}
