.hide{display: none;}
.l{float:left;}
.r{float:right;}
.auto{margin:auto;}
.clearfix{clear: both;}
.overflow-hidden{overflow: hidden;}
.clip{text-overflow: clip;}
.ellipsis{text-overflow: ellipsis;}

.w5{width: 5px;}
.w10{width: 10px;}
.w20{width: 20px;}
.w30{width: 30px;}
.w40{width: 40px;}
.w50{width: 50px;}
.w60{width: 60px;}
.w70{width: 70px;}
.w80{width: 80px;}
.w80{width: 80px;}
.w90{width: 90px;}
.w100{width:100px;}
.w120{width:120px;}
.w122{width:122px;}
.w130{width:130px;}
.w140{width:140px;}
.w150{width:150px;}
.w160{width:160px;}
.w170{width:170px;}
.w180{width:180px;}
.w190{width:190px;}
.w200{width:200px;}
.w288{width:288px;}

.w5r{width:5%;}
.w10r{width:10%;}
.w15r{width:15%;}
.w20r{width:20%;}
.w25r{width:25%;}
.w35r{width:35%;}
.w50r{width:50%;}
.w60r{width:60%;}
.w70r{width:70%;}
.w80r{width:80%;}
.w85r{width:85%;}
.w90r{width:90%;}
.w95r{width:95%;}
.w100r{width:100%;}

.h5{height:5px;}
.h10{height:10px;}
.h20{height:20px;}
.h30{height:30px;}
.h40{height:40px;}
.h50{height:50px;}
.h60{height:60px;}
.h70{height:70px;}
.h80{height:80px;}
.h90{height:90px;}
.h100{height:100px;}
.h110{height:110px;}
.h120{height:120px;}
.h130{height:130px;}
.h140{height:140px;}
.h150{height:150px;}
.h160{height:160px;}
.h170{height:170px;}
.h180{height:180px;}
.h190{height:190px;}
.h200{height:200px;}
.h230{height:230px;}
.h250{height:250px;}
.h300{height:300px;}
.h320{height:320px;}
.h400{height:400px;}
.h480{height:480px;}
.h427{height:427px;}
.h500{height:500px;}
.h578{height:578px;}
.h676{height:676px;}

.mt0{margin-top:0px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt25{margin-top:25px;}
.mt30{margin-top:30px;}
.mt35{margin-top:35px;}
.mt40{margin-top:40px;}
.mt50{margin-top:50px;}
.mt60{margin-top:60px;}
.mt70{margin-top:70px;}
.mt80{margin-top:80px;}
.mt90{margin-top:90px;}
.mt100{margin-top:100px;}

.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb25{margin-bottom:25px;}
.mb30{margin-bottom:30px;}
.mb40{margin-bottom:40px;}
.mb50{margin-bottom:50px;}
.mb60{margin-bottom:60px;}
.mb70{margin-bottom:70px;}
.mb80{margin-bottom:80px;}
.mb90{margin-bottom:90px;}
.mb100{margin-bottom:100px;}

.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml25{margin-left:25px;}
.ml20{margin-left:20px;}
.ml30{margin-left:30px;}
.ml40{margin-left:40px;}
.ml50{margin-left:50px;}
.ml60{margin-left:60px;}
.ml70{margin-left:70px;}
.ml80{margin-left:80px;}
.ml90{margin-left:90px;}
.ml100{margin-left:100px;}

.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr25{margin-right:25px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}
.mr40{margin-right:40px;}
.mr50{margin-right:50px;}
.mr60{margin-right:60px;}
.mr70{margin-right:70px;}
.mr80{margin-right:80px;}
.mr90{margin-right:90px;}
.mr100{margin-right:100px;}

.ml025r{margin-left:2.5%;}
.ml005r{margin-left:0.5%;}
.ml01r{margin-left:1%;}
.ml02r{margin-left:2%;}
.ml05r{margin-left:5%;}
.ml10r{margin-left:10%;}
.ml20r{margin-left:20%;}
.ml25r{margin-left:25%;}
.ml30r{margin-left:30%;}
.ml40r{margin-left:40%;}
.ml50r{margin-left:50%;}
.ml60r{margin-left:60%;}
.ml70r{margin-left:70%;}
.ml80r{margin-left:80%;}
.ml90r{margin-left:90%;}
.ml100r{margin-left:100%;}

.mr025r{margin-right:2.5%;}
.mr005r{margin-right:0.5%;}
.mr01r{margin-right:1%;}
.mr02r{margin-right:2%;}
.mr05r{margin-right:5%;}
.mr10r{margin-right:10%;}
.mr20r{margin-right:20%;}
.mr25r{margin-right:25%;}
.mr30r{margin-right:30%;}
.mr40r{margin-right:40%;}
.mr50r{margin-right:50%;}
.mr60r{margin-right:60%;}
.mr70r{margin-right:70%;}
.mr80r{margin-right:80%;}
.mr90r{margin-right:90%;}
.mr100r{margin-right:100%;}

.h10r{height:10%;}
.mt-35{margin-top: -35px;}
.mt-80{margin-top: -80px;}
.w87r{width:87%;}
.w93r{width:93%;}
.ml07r{margin-left:7%;}
