.hide{display: none;}
.l{float:left;}
.r{float:right;}
.auto{margin:auto;}
.clearfix{clear: both;}
.w20{width: 20px;}
.w30{width: 30px;}
.w40{width: 40px;}
.w100{width:100px;}
.w122{width:122px;}
.w200{width:200px;}
.w90r{width:90%;}
.w100r{width:100%;}
.h10{height:10px;}
.h20{height:20px;}
.h30{height:30px;}
.h40{height:40px;}
.h50{height:50px;}
.h60{height:60px;}
.h70{height:70px;}
.h80{height:80px;}
.h90{height:90px;}
.h100{height:100px;}
.h110{height:110px;}
.h120{height:120px;}
.h130{height:130px;}
.h140{height:140px;}
.h150{height:150px;}
.h160{height:160px;}
.h170{height:170px;}
.h180{height:180px;}
.h190{height:190px;}
.h200{height:200px;}
.h250{height:250px;}
.h300{height:300px;}
.h400{height:400px;}
.h427{height:427px;}
.h500{height:500px;}
.h578{height:578px;}
.h10r{height:10%;}
.mt5{margin-top:5px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mr30{margin-right:30px;}
