@media screen and (min-width: 1200px) {
    .container-wide {
        width: 100%;
    }
    .column-container{
        width:90%;
        margin:0 5%;
    }
    .column{
        float:left;
        width:100%;
    }
    .column .column-offset{
        margin:0 5%;
    }
    .column-2{
        float:left;
        width:50%;
    }
    .column-2 .column-offset{
        margin:0 5%;
    }
    .column-3{
        float:left;
        width:33.333%;
    }
    .column-3 .column-offset{
        margin:0 7.5%;
    }
    .column-3-1{
        float:left;
        width:33.333%;
    }
    .column-3-2{
        float:left;
        width:66.666%;
    }
    .column-4{
        float:left;
        width:25%;
    }
    .column-4 .column-offset{
        margin:0 5%;
    }
    .mobile{display:none;}
}
@media screen and (max-width: 1200px) {
    .container-wide {
        width: 100%;
    }
    .column-container{
        width:90%;
        margin:0 5%;
    }
    .column{
        float:left;
        width:100%;
    }
    .column .column-offset{
        margin:0 5%;
    }
    .column-2{
        float:left;
        width:50%;
    }
    .column-2 .column-offset{
        margin:0 5%;
    }
    .column-3{
        float:left;
        width:100%;
    }
    .column-3 .column-offset{
        margin:0 7.5%;
    }
    .column-3-1{
        float:left;
        width:40%;
    }
    .column-3-2{
        float:left;
        width:60%;
    }
    .column-4{
        float:left;
        width:25%;
    }
    .column-4 .column-offset{
        margin:0 5%;
    }
    .no-tablet-h{display:none;}
    .mobile{display:none;}
}
@media screen and (max-width: 768px) {
    .container-wide {
        width: 100%;
    }
    .column-container{
        width:95%;
        margin:0 2.5%;
    }
    .column{
        float:left;
        width:100%;
    }
    .column .column-offset{
        margin:0 5%;
    }
    .column-2{
        float:left;
        width:100%;
    }
    .column-2 .column-offset{
        margin:0 2.5%;
    }
    .column-3{
        float:left;
        width:100%;
    }
    .column-3 .column-offset{
        margin:0 2.5%;
    }
    .column-3-1{
        float:left;
        width:100%;
    }
    .column-3-2{
        float:left;
        width:100%;
    }
    .column-4{
        float:left;
        width:100%;
    }
    .column-4 .column-offset{
        margin:0 5%;
    }
    .no-tablet-v{display:none;}
    .mobile{display:none;}
    #gallery .gallery-offset{
        width:95%;
        margin-left:2.5%;
        margin-right:2.5%;
    }
    #news-list .news-list-offset{
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media screen and (max-width: 480px) {
    .container-wide {
        width: 100%;
    }
    .column-container{
        width:95%;
        margin:0 2.5%;
    }
    .column{
        float:left;
        width:100%;
    }
    .column .column-offset{
        margin:0 5%;
    }
    .column-2{
        float:left;
        width:100%;
    }
    .column-2 .column-offset{
        margin:0 2.5%;
    }
    .column-3{
        float:left;
        width:100%;
    }
    .column-3 .column-offset{
        margin:0 2.5%;
    }
    .column-4{
        float:left;
        width:100%;
    }
    .column-4 .column-offset{
        margin:0 2.5%;
    }
    .no-mobile{display:none;}
    .mobile{display:block;}
    #gallery .gallery-offset{
        width:95%;
        margin-left:2.5%;
        margin-right:2.5%;
    }
    #news-list .news-list-offset{
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media screen and (max-width: 375px) {
    .container-wide {
        width: 100%;
    }
    .column-container{
        width:95%;
        margin:0 2.5%;
    }
    .column{
        float:left;
        width:100%;
    }
    .column .column-offset{
        margin:0 5%;
    }
    .column-2{
        float:left;
        width:100%;
    }
    .column-2 .column-offset{
        margin:0 2.5%;
    }
    .column-3{
        float:left;
        width:100%;
    }
    .column-3 .column-offset{
        margin:0 2.5%;
    }
    .column-4{
        float:left;
        width:100%;
    }
    .column-4 .column-offset{
        margin:0 7.5%;
    }
    .no-mobile{display:none;}
    .mobile{display:block;}
    #gallery .gallery-offset{
        width:95%;
        margin-left:2.5%;
        margin-right:2.5%;
    }
    #news-list .news-list-offset{
        margin-left: 10px;
        margin-right: 10px;
    }
}


@media screen and (min-width: 1200px) {
    .text-offset{
        margin-left:30px;
        margin-right:30px;
    }
    #parallax-menu{height:240px;}
    #parallax-menu .label{height:240px;}
}
@media screen and (max-width: 1200px) {
    .text-offset{
        margin-left:30px;
        margin-right:30px;
    }
    #parallax-menu{height:240px;}
    #parallax-menu .label{height:240px;}
}
@media screen and (max-width: 768px) {
    .text-offset{
        margin-left:30px;
        margin-right:30px;
    }
    #parallax-menu{height:820px;}
    #parallax-menu .label{height:820px;}
}
@media screen and (max-width: 480px) {
    .text-offset{
        margin-left:30px;
        margin-right:30px;
    }
    #parallax-menu{height:860px;}
    #parallax-menu .label{height:860px;}
}
@media screen and (max-width: 375px) {
    .text-offset{
        margin-left:30px;
        margin-right:30px;
    }
    #parallax-menu{height:860px;}
    #parallax-menu .label{height:860px;}
}

.CUSTOM-1 .column-20r{width:20%;float:left;}
.CUSTOM-1 .column-30r{width:30%;float:left;}
.CUSTOM-1 .column-40r{width:40%;float:left;}
.CUSTOM-1 .column-50r{width:50%;float:left;}
@media screen and (max-width: 768px) {
.CUSTOM-1 .column-20r{width:100%;}
.CUSTOM-1 .column-30r{width:100%;}
.CUSTOM-1 .column-40r{width:100%;}
.CUSTOM-1 .column-50r{width:100%;}
}
