    .container-wide {
        width: 100%;
    }
    .footer-center{
        width: 86%;
        margin:auto;
    }
    .footer-center .left{
        float:left;
    }
    .footer-center .right{
        float:right;
    }
@media screen and (min-width: 1200px) {
    #menu-mobile{display: none;}
    #menu{display: block;}
    .header{display:block;}
    .container-center,.container-center-3col {
        width: 86%;
        margin:auto;
    }
    .container-center .offset{
        margin: 2%;
    }
    .container-center-3col .offset{
        margin: 2%;
    }
    .container-center .left{
        width:47.5%;
        float: left;
    }
    .container-center .right{
        width:47.5%;
        float: right;
    }
    .container-center-3col .left{
        width:32%;
        float: left;
    }
    .container-center-3col .center{
        width:32%;
        float: left;
    }
    .container-center-3col .right{
        width:32%;
        float: right;
    }
}
@media screen and (max-width: 1200px) {
    #menu-mobile{display:block;}
    #menu{display: none;}
    .header{display:none;}
    .container-center {
        width: 86%;
        margin:auto;
    }
    .container-center .offset{
        margin: 2%;
    }
    .container-center .left{
        width:47.5%;
        float: left;
    }
    .container-center .right{
        width:47.5%;
        float: right;
    }
}
@media screen and (max-width: 768px) {
    #menu-mobile{display:block;}
    #menu{display: none;}
    .header{display:none;}
    .container-center {
        width: 86%;
        margin:auto;
    }
    .container-center .offset{
        margin: 2% 0;
    }
    .container-center .left{
        width:100%;
        float: left;
    }
    .container-center .right{
        width:100%;
        float: right;
    }
}
@media screen and (max-width: 480px) {
    #menu-mobile{display:block;}
    #menu{display: none;}
    .header{display:none;}
    .container-center .offset{
        margin: 2%;
    }
}
@media screen and (max-width: 375px) {
    #menu-mobile{display:block;}
    #menu{display: none;}
    .header{display:none;}
    .container-center .offset{
        margin: 2%;
    }
}
