@media screen and (min-width: 1200px) {
    .container-wide {
        width: 100%;
    }
    .column-container{
        width:90%;
        margin:0 5%;
    }
    .column{
        float:left;
        width:100%;
    }
    .column .column-offset{
        margin:2.5%;
    }
    .column-2{
        float:left;
        width:50%;
    }
    .column-2 .column-offset{
        margin:5%;
    }
    .column-3{
        float:left;
        width:33.333%;
    }
    .column-3 .column-offset{
        margin:7.5%;
    }
}
@media screen and (max-width: 1200px) {
    .container-wide {
        width: 100%;
    }
    .column-container{
        width:90%;
        margin:0 5%;
    }
    .column{
        float:left;
        width:100%;
    }
    .column .column-offset{
        margin:2.5%;
    }
    .column-2{
        float:left;
        width:50%;
    }
    .column-2 .column-offset{
        margin:5%;
    }
    .column-3{
        float:left;
        width:33.333%;
    }
    .column-3 .column-offset{
        margin:7.5%;
    }
    .no-tablet-h{display:none;}
}
@media screen and (max-width: 768px) {
    .container-wide {
        width: 100%;
    }
    .column-container{
        width:90%;
        margin:0 5%;
    }
    .column{
        float:left;
        width:100%;
    }
    .column .column-offset{
        margin:2.5%;
    }
    .column-2{
        float:left;
        width:100%;
    }
    .column-2 .column-offset{
        margin:2.5%;
    }
    .column-3{
        float:left;
        width:100%;
    }
    .column-3 .column-offset{
        margin:2.5%;
    }
    .no-tablet-v{display:none;}
    #gallery .gallery-offset{
        width:95%;
        margin-left:2.5%;
        margin-right:2.5%;
    }
}
@media screen and (max-width: 480px) {
    .container-wide {
        width: 100%;
    }
    .column-container{
        width:90%;
        margin:0 5%;
    }
    .column{
        float:left;
        width:100%;
    }
    .column .column-offset{
        margin:2.5%;
    }
    .column-2{
        float:left;
        width:100%;
    }
    .column-2 .column-offset{
        margin:2.5%;
    }
    .column-3{
        float:left;
        width:100%;
    }
    .column-3 .column-offset{
        margin:2.5%;
    }
    .no-mobile{display:none;}
    #gallery .gallery-offset{
        width:95%;
        margin-left:2.5%;
        margin-right:2.5%;
    }
}
@media screen and (max-width: 375px) {
    .container-wide {
        width: 100%;
    }
    .column-container{
        width:90%;
        margin:0 5%;
    }
    .column{
        float:left;
        width:100%;
    }
    .column .column-offset{
        margin:2.5%;
    }
    .column-2{
        float:left;
        width:100%;
    }
    .column-2 .column-offset{
        margin:2.5%;
    }
    .column-3{
        float:left;
        width:100%;
    }
    .column-3 .column-offset{
        margin:2.5%;
    }
    .no-mobile{display:none;}
    #gallery .gallery-offset{
        width:95%;
        margin-left:2.5%;
        margin-right:2.5%;
    }
}
