.inverse{background-color: #454545;}
.guideline-icons .icon{margin:24px;}

.col-1{background-color: #454545;}
.col-2{background-color: #ccc;}
.row:nth-child(1){ background-color:#f5f5f5;}
.col-md-1{font-size: 12px;}
.col-md-1:nth-child(1){ background-color:#FFEAEA;}
.col-md-1:nth-child(3){ background-color:#FFEAEA;}
.col-md-1:nth-child(5){ background-color:#FFEAEA;}
.col-md-1:nth-child(7){ background-color:#FFEAEA;}
.col-md-1:nth-child(9){ background-color:#FFEAEA;}
.col-md-1:nth-child(11){ background-color:#FFEAEA;}
