.icon-mini{
    width:25px;
    height:25px;
}

.icon-social{
    width:37px;
    height:37px;
}

.icon-menu{
    width:45px;
    height:40px;
}

.icon-main{
    width:50px;
    height:50px;
}

.icon-contacts{
    width:60px;
    height:60px;
}

.icon-portfolio{
    width:70px;
    height:70px;
}

.icon-mission{
    width:230px;
    height:100px;
}

.icon-archive{
    width:115px;
    height:115px;
}

.icon-services{
    width:100px;
    height:100px;
}

.arrow{
    width:90px;
    height:70px;
}

.color-lines{
    width:330px;
    height:8px;
}

table{width: 100%; height: 4px;}
td {vertical-align: top;}
.line-black{width: 33%; border-right: 4px solid white; height: 4px; background: #333;}
.line-gray{width: 33%; border-right: 4px solid white; height: 4px; background: #7f7f7f;}
.line-teal{width: 33%; height: 4px; background: #00a19a;}
