#headblock .title{
    color:#008080;
    font-size:18px;
    line-height: 32px;
    text-align: center;
    text-transform:uppercase;
    padding-left: 5%;
    padding-right: 5%;
}
#headblock .description{
    font-size:11px;
    line-height: 20px;
    text-align: justify;
    font-family: 'HelveticaBold';
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
}
#headblock .description-2{
    font-size:14px;
    line-height: 20px;
    text-align: justify;
    font-family: 'Lato', 'HelveticaLight', sans-serif;
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
}
#headblock .company,.date{
    float:left;
    color:#008080;
    font-size:12px;
    line-height: 16px;
    text-align: left;
    font-weight: 300;
    font-family: 'Lato', 'HelveticaLight', sans-serif;
}
#headblock .sep{
    float:left;
    padding-left: 4px;
    padding-right: 4px;
    font-weight: 100;
    font-family: 'Lato', 'HelveticaLight', sans-serif;
}
#content p{line-height: 20px;}
