#headblock .title{
    color:#008080;
    font-size:18px;
    line-height: 32px;
    text-align: center;
    text-transform:uppercase;
    padding-left: 5%;
    padding-right: 5%;
}
#headblock .description{
    font-size:11px;
    line-height: 20px;
    text-align: justify;
    font-family: 'HelveticaBold';
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
}
#headblock .description-2{
    font-size:14px;
    line-height: 20px;
    text-align: justify;
    font-family: 'Lato', 'HelveticaLight', sans-serif;
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
}
#headblock .company,.date{
    float:left;
    color:#008080;
    font-size:12px;
    line-height: 16px;
    text-align: left;
    font-weight: 300;
    font-family: 'Lato', 'HelveticaLight', sans-serif;
}
#headblock .sep{
    float:left;
    padding-left: 4px;
    padding-right: 4px;
    font-weight: 100;
    font-family: 'Lato', 'HelveticaLight', sans-serif;
}
#content p{line-height: 20px;}

/* ANIMATION */
#animation:hover{color:white;}
.animation-1 {
    cursor: pointer;
    width:100%;
    position: relative;
}
.animation-1:after {
    content: '';
    position: absolute;
    z-index: -1;
}
.animation-1:hover {
    opacity: 0.8;
}
.animation-1:hover:before {
    right: 0%;
    opacity: 1;
}
.animation-1:before {
    position: absolute;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    top:15%;
    right: 2%;
    opacity: 0;
}

.animation-2 {
    cursor: pointer;
    width:100%;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.animation-2:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.animation-2:hover {
    opacity: 1;
}
.animation-2:hover:before {
    right: 2%;
    top:15%;
    opacity: 1;
}
.animation-2:before {
    position: absolute;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    right: 2%;
    opacity: 0;
    top:-50%;
}
.animation-2 p {
    -webkit-transition: all 0.3s;
    -webkit-backface-visibility: hidden;
    -moz-transition: all 0.3s;
    -moz-backface-visibility: hidden;
    transition: all 0.3s;
    backface-visibility: hidden;
}
.animation-2:hover p {
    opacity: 0;
    -webkit-transform: translateY(300%);
    -moz-transform: translateY(300%);
    -ms-transform: translateY(300%);
    transform: translateY(300%);
}
.animation-2:active:before {}

.animation-3{
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.animation-3:before {
    position:relative;
    top: 50px;
    left:-100px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.animation-3:hover:before {
    left:0px;
    opacity: 1;
}
.animation-3:hover{
    opacity: 0.6;
}

.hi-icon-effect-2 .hi-icon {
    color: #eea303;
    box-shadow: 0 0 0 3px #2b2b2a;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
}

.hi-icon-effect-2 .hi-icon:after {
    top: -2px;
    left: -2px;
    padding: 2px;
    z-index: -1;
    background: #2b2b2a;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
}
.hi-icon-effect-2a .hi-icon:hover {
    color: #eea303;
}

.hi-icon-effect-2a .hi-icon:hover:after {
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
}

.icon-arrow-right:before {
    content: url(/img/icons/arrow-right-white.svg);
}
.icon-umbrella:before {
    content: url(/img/icons/icon-umbrella-2.svg);
}
/* ANIMATION */
