body{
    color:#333333;
}
/* DEFAULT */
h1, h2, h3 {font-weight: 300;}
a{text-decoration: none; color:#333;}
.bold{font-weight: bold;}
.italic{font-style: italic;}
.underline{text-decoration: underline;}
.cursor-pointer{cursor:pointer;}
.text-left{text-align: left;}
.text-center{text-align: center;}
.text-right{text-align: right;}
.text-justify{text-align: justify;}
.smallcaps{font-variant: small-caps;}
.uppercase{text-transform:uppercase;}
.lowercase{text-transform:lowercase;}
.capitalize{text-transform:capitalize;}
.ls-0{letter-spacing: 0px;}
.ls-1{letter-spacing: 1px;}
.ls-2{letter-spacing: 2px;}
/* CUSTOM */
.color-teal{color:#008080;}/*Именование цветов по стандартным css-именам*/
.color-white{color:#fff;}
.color-gray{color:#7f7f7f;}
.color-paleturquoise{color:#a7c5bd;}
.size-1{font-size:18px;}
.size-2{font-size:14px;}
.size-3{font-size:12px;}
.size-4{font-size:10px;}
.size-5{font-size:8px;}
.line-h1{line-height:24px;}
a:hover{color:#008080;}
.inverse a:hover{color:#ccc;}
.gray-hover:hover{color:#999;}
.dark-gray-hover:hover{color:#999;}


.line-h2{line-height:60px;}
#menu{line-height: 80px;padding-top: 4px;}
#menu a{padding: 0 10px;}
#menu-mobile a{
    display:block;
    text-align: center;
    line-height: 60px;
}
#menu-bottom{
    padding-top: 20px;
}
#company{
    padding-top: 15px;
    padding-bottom: 10px;
}
#menu-bottom a{
    text-align: center;
    padding: 0 10px;
    margin-bottom: 10px;

}
a.active{color:#008080;}

