@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700);

@font-face {
          font-family: 'HelveticaLight';
          src: local('HelveticaLight'), url(/fonts/HelveticaLight.woff) format('woff');
}
@font-face {
          font-family: 'HelveticaBold';
          src: local('HelveticaBold'), url(/fonts/HelveticaBold.woff) format('woff');
}

body{
    color:#333333;
	font-family: 'Lato', 'HelveticaLight', sans-serif;
}
/* DEFAULT */
.bold{font-family: 'HelveticaBold';}
.weight-100{font-weight: 100;}
.weight-200{font-weight: 200;}
.weight-300{font-weight: 300;}
.italic{font-style: italic;}
.underline{text-decoration: underline;}
.smallcaps{font-variant: small-caps;}
.uppercase{text-transform:uppercase;}
.lowercase{text-transform:lowercase;}
.capitalize{text-transform:capitalize;}
.italic{font-style: italic;}
.cursor-pointer{cursor:pointer;}
.text-left{text-align: left;}
.text-center{text-align: center;}
.text-right{text-align: right;}
.text-justify{text-align: justify;}
.ls-0{letter-spacing: 0px;}
.ls-1{letter-spacing: 1px;}
.ls-2{letter-spacing: 2px;}
/* CUSTOM */
h1, h2, h3 {font-weight: 300;}
a{
    color:#333;
    text-decoration: none;
}
a[href^=tel]{
    color:#008080;
    text-decoration: none;
}
a:hover{color:#008080;}
a:focus{color: #00a19a;}
a.active{color:#008080;}
.color-teal{color:#008080;}
.color-white{color:#fff;}
.color-whitesmoke{color:#ebeceb;}
.color-lightgray{color:#ccc;}
.color-gray{color:#7f7f7f;}
.color-grey1{color:#333;}
.color-grey2{color:#4c4c4c;}
.color-grey666{color:#666;}
.color-green{color:#5FA338;}
.color-yellow{color: #c7a71c;}
.color-paleturquoise{color:#a7c5bd;}
.size-18{font-size:18px;}
.size-16{font-size:16px;}
.size-14{font-size:14px;}
.size-12{font-size:12px;}
.size-11{font-size:11px;}
.size-10{font-size:10px;}
.size-8{font-size:8px;}
.line-h16{line-height:16px;}
.line-h18{line-height:18px;}
.line-h20{line-height:20px;}
.line-h24{line-height:24px;}
.line-h22{line-height:22px;}
.line-h26{line-height:26px;}
.line-h28{line-height:28px;}
.line-h30{line-height:30px;}
.line-h32{line-height:32px;}
.line-h36{line-height:36px;}
.line-h40{line-height:40px;}
.line-h50{line-height:50px;}
.line-h60{line-height:60px;}
.line-h70{line-height:70px;}
.line-h80{line-height:80px;}
.line-h110{line-height:110px;}
.line-h120{line-height:120px;}
.line-h200{line-height:200px;}
.inverse a:hover{color:#ccc;}
.white-hover:hover{color:#fff;}
.light-gray-hover:hover{color:#ccc;}
.gray-hover:hover{color:#999;}
.dark-gray-hover:hover{color:#7f7f7f;}

@media screen and (min-width: 1200px) {
    .text-offset{
        margin-left:30px;
        margin-right:30px;
    }
}
@media screen and (max-width: 1200px) {
    .text-offset{
        margin-left:30px;
        margin-right:30px;
    }
}
@media screen and (max-width: 768px) {
    .text-offset{
        margin-left:30px;
        margin-right:30px;
    }
}
@media screen and (max-width: 480px) {
    .text-offset{
        margin-left:30px;
        margin-right:30px;
    }
}
@media screen and (max-width: 375px) {
    .text-offset{
        margin-left:30px;
        margin-right:30px;
    }
}
